#屏蔽掉所有与平台或代码生成相关的文件
.vscode/
.idea/
.cmake/
.xmake/
.vs/
build/
out/
bin/
*.aps
*.ctree
*.cbp
*.filters
*.vcxproj
Trc.sln
CMakeSettings.json
testlog.log
*.dll
*.lib
*.so
*.a
*.exp
*.pdb

# 单元测试中的临时输出文件
*.out
