#屏蔽掉所有与平台或代码生成相关的文件
.vscode/
.idea/
.cmake/
.xmake/
.vs/
.fleet/
build/
out/
bin/
bison/
cmake_third_party/
Testing/
CMakeFiles/
.ninja_deps
.ninja_log
build.ninja
cmake_install.cmake
CMakeCache.txt
Makefile
rules.ninja
compile_commands.json
#clangd缓存
.cache/
lib/

#for rust
target/

*.aps
*.ctree
*.cbp
*.filters
*.vcxproj
Trc.sln
CMakeSettings.json
testlog.log
*.dll
*.lib
*.so
*.a
*.exp
*.pdb
token.cpp
parser.cpp
parser.hpp
location.hh

# 单元测试中的临时输出文件
*.out
