.vscode/
.idea/
.cmake/
.vs/
CMakeFiles/
Testing/
coverage/
build/
bin/
out/
*.py
*.aps
*.ctree
*.cbp
*.exe
*.o
*.obj
*.filters
*.vcxproj
Trc.sln
testlog.txt
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeSettings.json
